*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}
body {
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}
/* Typography */
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

.list__items {
  list-style-type: none;
}
/* Links */
a {
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

.btn {
  background: lightcyan;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 0.5rem; */
  
}
.toggle-btn {
  background: #fd4516;
  color: #fff;
  border: 0;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  outline: 0;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  white-space: nowrap;
}
.toggle-btn:hover {
  background: #ec3000;
}
.toggle-btn > a {
  color: #d2d0db;
}
.toggle-btn > a:hover {
  color: #fff;
  transition: color 0.3s;
}
/* .btn {
  background: var(--color-accent);
  border-radius: 40px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1rem 0;
  padding: 2rem 3rem;
  white-space: nowrap;
}
.btn:hover {
  background: #ec3000;
} */

@media screen and(min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.detail {
  margin: 0 auto;
  text-align: center;
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
}

.collapsible__header {
  display: flex;
}
.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/* Blocks */
.block {
  padding: 5rem 2rem;
  margin-top: 0;
}
.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}
.block--dark {
  background: var(--color-headings);
  color: var(--color-body);
}
.block--dark .block__heading {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .block {
    padding: 1rem 2rem;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 0.5rem;
}
.hero__image {
  width: 50%;
  border-radius: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero__image {
    margin: 5rem;
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: left;
    align-self: center;
    margin: 5rem;
  }
}

.project-image {
  max-width: 322px;
}

footer {
  width: 100%;
  min-height: 50px;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: peachpuff;
  color: var(--color-headings);
  /* padding: px; */
}
