<section class="block block--dark hero">
    <div class="container grid grid-1x2">
        <img class="hero__image" src="images/shaista.jpeg" alt="profile picture">
        <header class="block__header hero__content">
         <h1 class="block__heading">Shaista Jawed</h1>  
         <h2 class="block__heading">Aspiring Web Developer</h2>
      <p class="hero__tagline">Email: shaistairfan5@icloud.com</p>
        <p class="hero__tagline">Phone: 03051251462</p> 
        </header>
    </div>
</section>